.acceptedUserButton {
  background-color: #db2828;
  color: #fff;
  text-shadow: none;
  background-image: none;
}

.rejectedUserButton {
  background-color: #4fdb28;
  color: #fff;
  text-shadow: none;
  background-image: none;
}
#divAdminAcceptChairReviewerMainContainer{
    display :flex;
    flex-direction: row;
}
.divTableContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
}