{%extends "upper_menu.html" %}

{% block content %}


    {% if type_name == "chair" %}
        <h1 style="text-align: center;">Вы авторизованы как руководитель секции, благодарим за Ваш труд и организаоторские способности</h1>
    {% endif %}

    {% if type_name == "reviewer" %}
        <h1 style="text-align: center;">Вы авторизованы как рецензент, благодарим за Ваш труд и просим своевременно выполнить рецензирование тезисов</h1>
    {% endif %}

    {% if type_name == "author" %}
        <h1 style="text-align: center;">Вы авторизованы как участник конференции, после загрузки тезисов зарегистрируйте их на выбранное направление</h1>
    {% endif %}

{% endblock %}